body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    background-color: #1f1f1f;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25% - 40px); /* Adjust the width based on available space */
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #333;
    transition: transform 0.3s;
}

article:hover {
    transform: scale(1.05);
}

article h2 {
    margin-top: 0;
}

article a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    article {
        flex: 1 1 calc(50% - 40px); /* Two columns on smaller screens */
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
    article {
        margin-left: 5%;
        margin-right: 5%;
    }

    footer {
        position: static;
    }
}

@media (max-width: 480px) {
    article {
        flex: 1 1 100%; /* Full width on very small screens */
    }
}


