body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/factions.png') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgba(31, 31, 31, 1);
    color: #e0e0e0;
    padding: 1rem 0;
    text-align: center;
    flex: 0 0 auto;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.section {
    position: relative;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.section:hover {
    box-shadow: inset 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.section .overlay {
    padding: 20px;
    text-align: center;
    color: #e0e0e0;
}

.section h2, .section p {
    margin: 10px 0;
}

footer {
    flex: 0 0 auto;
    background-color: rgba(31, 31, 31, 1);
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
    article {
        margin-left: 5%;
        margin-right: 5%;
    }

    footer {
        position: static;
    }
}
